
.letter {
    display:inline-block;
    font-size: xx-large;
}

.font-link {
    font-family: 'Cormorant Garamond', serif;
}

.SplashContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre;
}